*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(138, 78, 194);
    height: 4rem;
   line-height: 4rem;
}

.choice{
    height: 180px;
    width: 180px;
    border-radius:50% ;
    display: flex;
    justify-content: center;
    align-items: center;

}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}

.choice:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.505);
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 3rem;
}


#user-score, #computer-score{
    font-size: 3rem;
}

.msg-container{
    display: inline-block;
    font-size: 2rem;
    margin-top: 2rem;
 
}

#msg{
background-color: rgba(0, 0, 0, 0.277);
color: black;
   padding: 0.7rem;
    border-radius: 10px;
}